<main class="container">
    <h1 class="mt-lg neonText text-title-1 animated fadeInDown">software</h1>
    <hr class="neon-line animated zoomIn">
    <section class="row mt-lg">
        <app-circle-m (click)="showWebSection()" icon_name="web_icon_128.png" class="col-6 animated fadeInDown"></app-circle-m>
        <app-circle-m (click)="showMobileSection()" icon_name="mobile_icon_128.png" class="col-6 animated fadeInDown"></app-circle-m>
    </section>
</main>
<app-main-web class="{{this.transStyle1}} animated {{this.listStyle1}}"></app-main-web>
<app-main-mobile class="{{this.transStyle2}} animated {{this.listStyle2}}"></app-main-mobile>
<!--todo ahora los botones tienen que llamar a estos dodne estaran losd etalles-->