<main class="container">
    <h1 class="mt-lg neonText text-title-1 animated fadeInDown">Software</h1>
    <hr class="neon-line animated zoomIn">
    <section class="row mt-lg">
        <app-circle-m icon_name="web_icon_128.png" class="col-6 animated fadeInDown"></app-circle-m>
        <app-circle-m icon_name="mobile_icon_128.png" class="col-6 animated fadeInDown"></app-circle-m>
    </section>
</main>
<app-main-web></app-main-web>
<app-main-mobile></app-main-mobile>
<!--todo ahora los botones tienen que llamar a estos dodne estaran losd etalles-->