<figure (click)="open(infoModal)" class="neonCircleImage neon-pulse rainbow-btn" style="background-image: url(assets/images/cvr_icon.png);width: 96px;height: 96px;">

</figure>


<ng-template #infoModal let-modal>
    <footer class="row main-modal-style neon-pulse">
       
        <h2 class="neonText">Acerca de: </h2>
        <p class="neonText mt-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Possimus beatae magni, animi eveniet, deleniti delectus rerum 
            veritatis aperiam dolor voluptatibus adipisci nobis eum ea consectetur 
            magnam quidem optio, quaerat repellat.</p>
            <div class="row mt-lg">
                <app-d-btn class="col"></app-d-btn>
                <app-d-btn class="col"></app-d-btn>
                <app-d-btn class="col"></app-d-btn>
            </div>
            
        </footer>
</ng-template>